@charset "utf-8";

/* common */
body{
    color:#333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

img{
    display: block;
}

a{text-decoration: none; color: #333;}

.inner{width:1100px; margin:0px auto; position: relative;}

.btn{
    width:130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700px;
    text-align: center;
    cursor: pointer;
    box-sizing:border-box;
    display: block;
    transition: .4s;
}

.btn:hover{
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse{
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse:hover{
    background-color:transparent;
    color: #333;
}

.btn.btn--brown{
    color:#592b18;
    border-color: #592b18;
}

.btn.btn--brown:hover{
    color: #fff;
    background-color:#592b18;
}

.btn.btn--gold{
    color:#D9aa8a;
    border-color: #D9aa8a;
}

.btn.btn--gold:hover{
    color: #fff;
    background-color:#D9aa8a;
}

.btn.btn--white{
    color:#fff;
    border-color: #fff;
}

.btn.btn--white:hover{
    color: #333;
    background-color:#fff;
}

.back-to-position{
    opacity:0;
    transition: 1s;
}

.back-to-position.to-right{
    transform: translateX(-150px);

}


.back-to-position.to-left{
    transform: translateX(150px);
}

.show .back-to-position{
    opacity: 1;
    transform:translateX(0);
}


.show .back-to-position.delay-0{
    transition-delay: 0s;
}

.show .back-to-position.delay-1{
    transition-delay: 0.3s;
}

.show .back-to-position.delay-2{
    transition-delay: 0.6s;
}

.show .back-to-position.delay-3{
    transition-delay: 0.9s;
}


/*FOOTER*/
footer {
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner {
    padding: 40px 0 60px 0;
}
footer .menu {
    display: flex;
    justify-content: center;
}
footer .menu li {
    position: relative;
}
footer .menu li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li:last-child::before {
    display: none;
}
footer .menu li a {
    display: block;
    color: #CCC;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
}
footer .menu li a.green {
    color: #669900;
}
footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
}
footer .btn-group .btn:last-child {
    margin-right: 0;
}
footer .info {
    margin-top: 30px;
    text-align: center;
}
footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child {
    margin-right: 0;
}
footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
footer .logo {
    margin: 30px auto 0;
}
